body {
  background-color: beige;
  margin-left: 20px;
  margin-right: 100px;
}

h1 {
  font-size: 40px;
  color: rgb(35, 66, 65);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 25px;
  color: rgb(39, 39, 39);
  text-align: justify;
  font-family: "Arial", sans-serif;
}

h3 {
  font-size: 22px;
  color: rgb(58, 58, 58);
  text-align: justify;
  font-family: "Arial", sans-serif;
}

p {
  text-align: justify;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: black;
}

li {
  color: darkblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

dl {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: rgb(112, 0, 0);
}

img {
  width: 25%;
  height: auto;
}

video {
  width: 60%;
  height: auto;
}

a {
  text-decoration: none;
  color: darkblue;
  font-size: 18px;
}

#A {
  width: 80%;
  height: auto;
}

#B {
  width: 80%;
  height: auto;
}

#C {
  width: 80%;
  height: auto;
}

#D {
  width: 80%;
  height: auto;
}

#E {
  width: 80%;
  height: auto;
}
